spring:
  application:
    name: delivery-service
  datasource:
    url: jdbc:postgresql://localhost:5440/postgres
    username: postgres
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always

server:
  port: 8088

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8888/eureka/
